[submodule "Packages/UniMob"]
	path = Packages/UniMob
	url = https://github.com/codewriter-packages/UniMob.git
	branch = master
[submodule "Packages/UniMob.UI"]
	path = Packages/UniMob.UI
	url = https://github.com/codewriter-packages/UniMob.UI.git
[submodule "Packages/Mesh-Animation"]
	path = Packages/Mesh-Animation
	url = https://github.com/codewriter-packages/Mesh-Animation.git
[submodule "Packages/Style-Components"]
	path = Packages/Style-Components
	url = https://github.com/codewriter-packages/Style-Components.git
[submodule "Packages/NpmPublisherSupport"]
	path = Packages/NpmPublisherSupport
	url = https://github.com/codewriter-packages/NpmPublisherSupport
[submodule "Packages/NpmPackageLoader"]
	path = Packages/NpmPackageLoader
	url = https://github.com/codewriter-packages/NpmPackageLoader
[submodule "Assets/UniMob.UI Samples"]
	path = Assets/UniMob.UI Samples
	url = https://github.com/codewriter-packages/UniMob.UI-Samples.git
[submodule "Packages/Package-Symlinker"]
	path = Packages/Package-Symlinker
	url = ../../codewriter-packages/Package-Symlinker.git
[submodule "Packages/View-Binding"]
	path = Packages/View-Binding
	url = https://github.com/codewriter-packages/View-Binding.git
